In [1]:
import os
from dotenv import load_dotenv
# .env file to environment
#load_dotenv()
load_dotenv(verbose=True)
token = os.getenv('MAPBOX_API_KEY')

import mapboxgl
import pydeck as pdk
import pandas as pd
import numpy as np

In [2]:
LIGHTS_URL = 'https://raw.githubusercontent.com/ajduberstein/lights_at_night/master/chengdu_lights_at_night.csv'
df = pd.read_csv(LIGHTS_URL)

df.head()

   year      lng     lat  brightness
0  1993  104.575  31.808           4
1  1993  104.583  31.808           4
2  1993  104.592  31.808           4
3  1993  104.600  31.808           4
4  1993  104.675  31.808           4

In [3]:
df.brightness.unique()

array([ 4,  5,  6,  7, 15, 17, 18, 12,  8, 13, 16, 21, 22, 19, 11,  3, 14,
       23, 27, 28, 26, 24,  9, 25, 29, 33, 36, 35, 34, 38, 39, 37, 31, 41,
       32, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 54, 53, 55, 57, 56, 58,
       59, 61, 62, 63,  2])

In [4]:
df.year.unique()

array([1993, 1997, 1995, 2009, 2001, 2003, 2013, 2007, 2011, 2005, 1999])

In [15]:
df['color'] = df['brightness'].apply(lambda x: [255, x * 4,  255, 255])
plottable = df[df['year'] == 1993].to_dict(orient='records')

In [17]:
df.head()

   year      lng     lat  brightness                color
0  1993  104.575  31.808           4  [255, 16, 255, 255]
1  1993  104.583  31.808           4  [255, 16, 255, 255]
2  1993  104.592  31.808           4  [255, 16, 255, 255]
3  1993  104.600  31.808           4  [255, 16, 255, 255]
4  1993  104.675  31.808           4  [255, 16, 255, 255]

In [20]:
view_state = pdk.ViewState(
      latitude=31.0,
      longitude=104.5,
      zoom=8,
      max_zoom=8,
      min_zoom=8)

scatterplot = pdk.Layer(
      'HeatmapLayer',
      data=plottable,
      get_position='[lng, lat]',
      get_weight='brightness',
      opacity=0.5,
      pickable=False,
      get_radius=800)

r = pdk.Deck(
      layers=[scatterplot],
      initial_view_state=view_state,
      views=[pdk.View(type='MapView', controller=None)] )
r.show()

DeckGLWidget(google_maps_key=None, json_input='{"initialViewState": {"latitude": 31.0, "longitude": 104.5, "maâ€¦

In [ ]:
# Widget slider
import ipywidgets as widgets
from IPython.display import display

slider = widgets.IntSlider(1992, min=1993, max=2013, step=2)

# Define function to update deck 
def on_change(v):
      results = df[df['year'] == slider.value].to_dict(orient='records')
      scatterplot.data = results
      r.update()

In [11]:
#receives value from the slider and call function to update deck
slider.observe(on_change, names='value')
display(slider)

IntSlider(value=1999, max=2013, min=1993, step=2)

In [22]:
DATA_SOURCE = 'https://raw.githubusercontent.com/ajduberstein/geo_datasets/master/fortune_500.csv'
pd.read_csv(DATA_SOURCE).head()

,rank,name,zip,employees,revenues,latitude,longitude,profit
0,49,ALBERTSONS COS.,83706,274000,58734,43.59974,-116.18099,-502.2
1,226,MICRON TECHNOLOGY,83716,31400,12399,43.52925,-116.14697,-276.0
2,290,LABORATORY CORP. OF AMERICA,27215,52000,9642,36.09317,-79.43739,732.1
3,440,LAM RESEARCH,94538,7500,5886,37.48860,-121.95694,914.0
4,198,SYNNEX,94538,110000,14062,37.49628,-121.97965,234.9

In [23]:
layer = pdk.Layer(
    "HeatmapLayer",
    DATA_SOURCE,
    opacity=0.9,
    get_position=["longitude", "latitude"],
    aggregation='"MEAN"',
    get_weight="profit / employees > 0 ? profit / employees : 0")

#Set the viewport location
view_state = pdk.ViewState(
  latitude=49.254,
  longitude=-123.13,
  zoom=11,
  max_zoom=16,
  pitch=45,
  bearing=0
)

In [24]:
view_state = pdk.ViewState(
    latitude=30.782556,
    longitude=-100.3484867,
    zoom=2.5
)

In [25]:
# Combined all of it and render a viewport
r = pdk.Deck(
    map_style="mapbox://styles/mapbox/light-v9",
    layers=[layer],
    initial_view_state=view_state,
    tooltip={"html": "<b>Elevation Value:</b> {elevationValue}", "style": {"color": "white"}},
)
r.show()

DeckGLWidget(google_maps_key=None, json_input='{"initialViewState": {"latitude": 30.782556, "longitude": -100.â€¦

#Render
r= pdk.Deck(layers=[layer], initial_view_state=view_state,  tooltip={'text': '{name}'})

r.show()